@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-color: #121212;
    color: white;
    display: flex;
    position: relative;
    height: 100vh;
}

.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(153, 153, 153, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
    /* Centering the container */
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: large;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input[type="number"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    outline: none;
    width: calc(100% - 22px);
    /* Adjust the width to fit the container */
}

input[type="submit"] {
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    /* Set width to auto to fit content */
    margin: 0 auto;
    /* Center the submit button */
}

input[type="submit"]:hover {
    background-color: #007bff;
}